
.signup-screen {
    border: 2px solid #36909A;
    border-radius: 4px;
    background-color: #36909A;
    margin: 0 auto;
    padding: 20px;
    margin-top: 20px;
}

.title-register {
    text-align: center;
    margin: auto;
    font-weight: 800;
    color: #FFFFFF;
}

.icon-return {
    color: #ffffff;
}

.align-buttom {
    text-align: right;
    margin-right: 20px;
}